<div className="flex flex-col justify-between space-y-2 bg-white p-[2rem] w-[450px] h-[250px] rounded-xl relative">
  <%= image_tag "gradient-bar.svg", class: "absolute top-0 left-0", alt: "gradient bar" %>
  <p className="text-body font-normal text-[1.6rem] tracking-[-0.4px] leading-[24px]"><%= @testimonial[:feedback] %></p>
  <div className="flex justify-between items-center">
    <div className="flex space-x-4">
      <%= image_tag @testimonial[:image], class: "w-[45px] h-[45px]", alt: "testimonial pic" %>
      <div className="flex flex-col space-y-1">
        <p className="text-primary font-bold text-[22px] tracking-[-0.55px] leading-[24px]"><%= @testimonial[:title] %></p>
        <p className="text-Testimonial-Gray font-medium text-11 tracking-[-0.17px] leading-[13px]"><%= @testimonial[:age] %></p>
      </div>
    </div>
    <%= image_tag "double-quotes.svg", class: "w-[33px] h-[22px]" %>
  </div>
</div>
