<div class="flex flex-col w-[210px] h-[250px] bg-white rounded-xl p-6 hover:shadow-[10px_10px_10px_10px_rgba(0,0,0,0.2)] shadow-[2px_2px_2px_2px_rgba(0,0,0,0.03)]">
  <div class="flex flex-col space-y-4 h-[70%]">
    <div class="flex justify-between">
      <div class="flex flex-col">
        <p class="text-primary-dark text-[11px] font-semibold tracking-[-0.17px] leading-[13px]"><%= @event_detail[:month] %></p>
        <p class="text-primary text-[28px] font-semibold tracking-[-0.7px] leading-[32px]"><%= @event_detail[:date] %></p>
      </div>
      <%= image_tag "calendar.svg" %>
    </div>
    <p class="text-black text-base font-bold tracking-[-0.4px] leading-[20px]"><%= @event_detail[:title] %></p>
  </div>

  <div class="flex flex-col justify-around <%= "items-center justify-center" if @event_detail[:target].blank? %> h-[30%] border-t border-Gray border-opacity-25">
    <% if @event_detail[:target].present? %>
      <div class="text-green flex space-x-2 items-center"><span class="text-[11px] font-semibold tracking-[-0.17px]">FR Target:</span><span class="text-[20px] font-semibold tracking-[-0.3px]"><%= @event_detail[:target] %></span></div>
      <div class="text-Spanish-Gray flex space-x-2 items-center"><span class="text-[11px] font-semibold tracking-[-0.17px]">Reg Fee:</span><span class="text-[20px] font-semibold tracking-[-0.3px]"><%= @event_detail[:fee] %></span></div>
    <% else %>
      <button class="border-2 border-amber w-[135px] h-[48px]">MORE INFO</button>
    <% end %>
  </div>
</div>
